#about-section {
  height: calc(100% - 90px);
  width: 100%;
  max-width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  background-color: white;

  box-sizing: border-box;
}
.about-card {
  width: 95%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.959);
  padding: 30px;
  box-shadow: 5px 10px 18px #888888;
}
.photo-about {
  width: 90%;
  min-width: 500px;
  height: 95%;

  background-image: url('../Img/tyler-nix-3uSHEffsDXI-unsplash.jpg');
  background-size: cover;
  background-position: center;

  margin-right: 30px;
  box-shadow: 5px 10px 18px #888888;
}
.text-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 95%;
  font-family: 'Roboto';
}
.text-about > h2 {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 2rem;

  color: rgb(124, 198, 173);
}
.text-about > p {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1rem;

  color: black;
}

/* MEDIA QUERIES */

@media (max-width: 1100px) {
  .photo-about {
    min-width: 400px;
  }
}
@media (max-width: 920px) {
  .text-about > h2 {
    font-size: 1.5rem;
  }
  .text-about > p {
    font-size: 0.8rem;
  }
}
@media (max-width: 850px) {
  #about-section {
    height: auto;
  }
  .about-card {
    flex-direction: column;
  }
  .photo-about {
    min-width: 300px;
    height: 400px;
    margin: 0;
    margin-bottom: 30px;
  }
}
@media (max-width: 425px) {
  #about-section {
    padding: 30px;
  }
  .about-card {
    width: 98%;
    height: 98%;
    padding: 15px;
  }
  .photo-about {
    min-width: 200px;
    height: 300px;
  }
  .text-about > h2 {
    font-size: 1.2rem;
  }
  .text-about > p {
    font-size: 0.7rem;
  }
}
