#contact-section {
  height: calc(100% - 90px);
  width: 100%;
}
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;

  background-image: url('../Img/mike-kenneally-TD4DBagg2wE-unsplash.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}
.header-container > h1 {
  margin: 0;

  font-family: 'Roboto';
  font-weight: 500;
  font-size: 3rem;
  color: white;
}

.contact-and-location {
  display: flex;
  height: 50%;
}
.map {
  height: 100%;
  width: 33%;
}
.contact-and-social {
  width: calc(100% - 644px);
  display: flex;
  height: 100%;
  width: 67%;
}

.contact-info {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-title {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.5rem;

  color: rgb(28, 58, 34);
}
.contact-svg {
  width: 30px;
  min-width: 30px;
  height: 30px;
  min-height: 30px;
  fill: #1f1f1f;
}
.contact-icons-container {
  padding: 10px;
}
.contacts-with-icons {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;

  margin: 10px 0;
}
.contacts-with-icons > a {
  text-decoration: none;
  font-size: 0.9rem;
  font-family: 'Roboto';
  font-weight: 400;
  color: rgb(28, 58, 34);
  margin: 0 5px;
}
.contacts-with-icons > a:hover {
  color: rgb(28, 58, 34);
  transform: scale(1.02);
  transition-duration: 200ms;
}

.social {
  width: 50%;
  background-color: rgb(28, 58, 34);
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-svg {
  width: 80px;
  min-width: 80px;
  height: 80px;
  min-height: 80px;
  fill: rgb(124, 198, 173);
  margin: 0 20px;
}

.social-svg:hover {
  transform: scale(1.2);
  transition-duration: 200ms;
}

/* MEDIA QUERIES */

@media (max-width: 900px) {
  .contact-icons-container {
    padding: 20px;
  }
  .contact-title {
    font-size: 1.2rem;
  }
  .contacts-with-icons > a {
    font-size: 0.7rem;
  }
  .contacts-with-icons > a:hover {
    transform: scale(1.01);
  }
  .contact-svg {
    width: 20px;
    min-width: 20px;
    height: 20px;
    min-height: 20px;
  }
}
@media (max-width: 720px) {
  #contact-section {
    height: auto;
  }
  .header-container {
    height: 180px;
    text-align: center;
  }
  .contact-and-location {
    flex-direction: column;
    height: auto;
    align-items: center;
  }
  .map {
    height: 300px;
    width: 100%;
  }
  .contact-and-social {
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
  }
  .contact-info {
    width: 100%;
  }
  .social {
    width: 100%;
    height: auto;
    background-color: transparent;
  }
  .social-svg {
    width: 40px;
    min-width: 40px;
    height: 40px;
    min-height: 40px;
    fill: rgb(28, 58, 34);
  }
}
