.image-slider {
  width: 65%;
  height: 91%;
  position: relative;
}
.image-displaying {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.carousel-button {
  z-index: 2;
  position: absolute;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 2.5rem;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  height: 4rem;
  line-height: 4rem;
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button:focus {
  outline: 1px solid black;
}
.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}

/* MEDIA QUERIES */

@media (max-width: 900px) {
  .carousel-button {
    height: 3rem;
    line-height: 3rem;
  }
  .carousel-button.prev {
    font-size: 3rem;
  }

  .carousel-button.next {
    font-size: 3rem;
  }
}
@media (max-width: 768px) {
  .image-slider {
    width: 75%;
    height: 91%;
    position: relative;
  }
}
@media (max-width: 660px) {
  .carousel-button {
    height: 2rem;
    line-height: 2rem;
  }
  .carousel-button.prev {
    font-size: 2rem;
  }

  .carousel-button.next {
    font-size: 2rem;
  }
}
@media (max-width: 425px) {
  .image-slider {
    width: 80%;
    height: 91%;
    position: relative;
  }
}
