.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: black;

  width: 100%;
  max-width: 100%;
  height: 90px;
}
.navbar > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 150px;
  height: 100%;
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.2rem;
}
.navbar > h2 > a {
  text-decoration: none;
  color: rgb(124, 198, 173);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
}

.navbar > h2:hover {
  cursor: pointer;
  background-color: rgb(28, 58, 34);
  font-size: 1.3rem;
  transition-duration: 200ms;
}
